/* html {
    scroll-behavior: smooth;
  }
  .hero-section {
    background: radial-gradient(circle, rgba(0,124,134,1) 0%, rgba(0,64,140,1) 100%);
    transition: background 3s ease-in-out;
  }
  
  .hero-section:hover {
    background: radial-gradient(circle, rgba(0,64,140,1) 0%, #c5c5c5 100%);
  }
   */
  
  